{{ define "styles" }}

<!--
  Stylesheet fragment, used by the main index page
-->

<style>
  body,
  html {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #0a0b17  !important;
  }
  .has-background-info-dark {
    background-color: #0b2133 !important;
  }
  .is-success {
    background-color: #0b213300 !important;
  }

  article {
    margin: 1rem !important;
    border-radius: 10px !important;
    margin-right: 10% !important;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  article.htmx-added {
    opacity: 0;
  }

  article.htmx-swapping {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .msg-self {
    margin-left: 10% !important;
    margin-right: 0% !important;
  }

  .message-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .message-time {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    font-size: 0.6rem;
    left: 92% !important;
  }

  .msg-container {
    display: flex;
    bottom: 16px;
    border-radius: 4px;
}
  .tooltip:not(.shown) {
          display: none;
      }

  #chat {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0.1rem;
    padding: 0.1rem;
    flex-grow: 1;
  }

  .fh {
    height: 100%;
  }

  .section {
    width: 70%;
    max-width: 1024px;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #chatarea {
    display: flex;
    flex-direction: column;
    height: 88vh;
  }

  .textarea {
    background: #292d2a;
    color:rgb(166, 175, 183);
  }

  .emjbtn {
    padding: 0.3rem;
    display: inline;
    margin-left: -2.3rem;
    margin-right: 0.1rem;
  }

  .topbox {
    border-radius: 10px;
    padding: 0.8rem;
    background-color: #2b2929;
    display: flex;
    margin-bottom: 0.8rem;
  }

  .message.is-primary .message-body {
    border-color: #2c3152 !important;
    background-color: #292d2a !important;
    color:rgb(166, 175, 183);
  }

  .message.is-grey .message-body {
    border-color: #364a8d !important;
    background-color: #0b2133 !important;
    color:rgb(166, 175, 183);
  }

  ul.users > li {
    background-color: rgb(202, 221, 202);
    border-radius: 10px;
    padding: 0.4rem;
    margin: 0.2rem;
    font-weight: 600;
    display: inline-block;
  }

  @media screen and (max-width: 600px) {
    .topbox {
      font-size: 0.6rem;
      padding: 0.2rem;
    }

    #send {
      font-size: 1rem;
      padding: 0.5rem;
    }

    .section {
      width: 100%;
    }
    .button {
      font-size: 0.9rem;
      padding: 0.3rem;
    }
    .message-body {
      font-size: 0.8rem;
    }
    .message-time {
      font-size: 0.4rem;
    }
    .label {
      display: none;
    }
    #chatarea {
      height: 82vh;
    }
  }
</style>
{{ end }}
